@font-face {
    font-family: 'Amoria';
    src: url('fonts/AMORIA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Amoria', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;
    overflow-y: auto;
}

.header-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px 0 rgba(165, 165, 165, 0.5);
    z-index: 1000;
}

.header-text {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.header-text:hover {
    transform: scale(1.08);
}

.footer-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px 0 rgba(165, 165, 165, 0.5);
    z-index: 2;
    margin: 0 auto;
}

.footer-text {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.footer-text:hover {
    transform: scale(1.08);
}

.contenedor {
    max-width: 500px;
    margin: 60px auto;
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 80px;
    margin-top: 70px;
    font-family: 'Amoria', sans-serif;
    text-align: center;
    width: 100%;
    color: white;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 60px;
    margin-top: 0;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #111;
    color: white;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.sign-button {
    padding: 12px 20px;
    font-size: 0.7em;
    border-radius: 8px;
    background: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-family: 'Amoria', sans-serif;
    margin: 0 auto;
}

.sign-button:hover {
    transition: 0.3s ease-in-out;
    background: gold;
    color: rgb(0, 0, 0);
}

.resultado {
    font-size: 1.2em;
    color: white;
    text-align: center;
    width: 100%;
    margin: 30px 0;
    line-height: 1;
}

.resultado strong {
    display: block;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.resultado-container {
    max-width: 700px;
    margin: 20px auto;
    padding: 30px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.resultado-container:not(:empty) {
    display: flex;
}

.filter-button {
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 8px;
    background: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Amoria', sans-serif;
    margin-top: 20px;
    display: none;
    transition: color 0.3s ease-in-out;

}

.filter-button:hover {
    transition: 0.3s ease-in-out;
    background: gold;
    color: rgb(0, 0, 0);
}

.resultado:not(:empty) ~ .filter-button {
    display: block;
}

div{
    font-size: 1.2em;
    color: white;
    text-align: center;
    width: 100%;
}

.cursor {
    width: 100px;
    height: 100px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    
    background: radial-gradient(circle, rgba(255,215,0,0.3) 0%, rgba(255,215,0,0) 60%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    will-change: transform;
}

.cursor::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: gold;
    border-radius: 50%;
    box-shadow: 0 0 3px gold;
}
     